<!doctype html>
<html lang="en">

<head>
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <div class="loginBox">

    <img class="user" src="images/avatar3.png" height="100px" width="100px">

    <h3>Sign Up</h3>

    <form action="/signUp" method="post">

      <div class="inputBox">
        <input id="uname" type="text" name="Username" placeholder="Username">
        <input id="pass" type="password" name="Password" placeholder="Password">
        <div class="">
          <input id="key" type="key" name="Key" placeholder="Generate Room Key"><button type="button" class="go">Go</button>
        </div>
      </div>

      <input type="submit" name="" value="SignUp">

    </form>

  </div>

</body>

</html>
